# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env

# Flask-specific
instance/
*.db

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db
