/* general and base.html css */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier;
}

.main-content {
  flex: 1;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: oklch(39.6% 0.141 25.723);
  height: 40px;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  /* убираем подчёркивание ссылок */
  color: #FFFFFF;
  /* цвет текста */
  padding: 5px 10px;
  /* отступы внутри ссылки */
  border-radius: 20px;
  font-size: 20px;
}

.menu a:hover {
  text-decoration: none;
  translate: 0 -3px;
  background-color: rgba(0, 0, 0, 0.1);
}

p {
  font-size: 1.1em;
  margin-bottom: 15px;
  text-align: justify;
}

h3 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #5bc0de;
  border-bottom: 2px solid #5bc0de;
  padding-bottom: 5px;
}

.flashes {
  list-style-type: none;
  padding: 10px;
}

.flashes-messages {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.container {
  width: 300px;
  margin: auto;
}

.Welcome {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

a {
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer styling */
footer {
  background-color: oklch(39.6% 0.141 25.723);
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
