{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h3>About Us</h3>
<p>Welcome to [Your Food Delivery Service Name], where we bring delicious meals 
straight to your doorstep with speed and convenience. Our mission is to make high-quality 
food accessible to everyone, whether you’re craving a quick snack, a hearty meal, or a gourmet experience.</p>
<p><u>Who we are</u>
    We are a passionate team of food lovers and tech enthusiasts dedicated to revolutionizing food delivery. 
    Our platform connects you with the best restaurants, cafes, and eateries in your city,
     offering a diverse selection of cuisines to satisfy every taste.</p>
<h3>Our Values</h3>
<p>
    <ul>
        <li>Quality– We partner with top-rated restaurants to ensure every meal is fresh and delicious.</li>
        <li>Speed– Our efficient delivery network ensures you get your food hot and on time.</li>
        <li>Convenience – Order from anywhere with just a few clicks.</li>
        <li>Sustainability – We strive to use eco-friendly packaging and promote responsible food sourcing.</li>
    </ul>
</p>

<h3>Why Choose Us?</h3>
<div>
    <ul>
        <li>Wide Variety – Choose from an extensive menu featuring local favorites and international dishes.</li>
        <li>Seamless Experience – Our user-friendly platform makes ordering quick and hassle-free.</li>
        <li>Real-Time Tracking – Know exactly when your food will arrive with our live tracking system.</li>
        <li>Exclusive Offers – Enjoy discounts, promotions, and loyalty rewards.</li>
    </ul>
</div>
<h3>Our social media</h3>
<nav class="menu">
    <ul>
        <li><a href="www.instagram.com/"><img src="{{url_for('static', filename='Images/SocialMedia/Instagram.jpg')}}" alt="Instagram"></a></li>
        <li><a href="www.facebook.com/"><img src="{{url_for('static', filename='Images/SocialMedia/Facebook.png')}}" alt="Facebook"></a></li>
        <li><a href="youtube.com"><img src="{{url_for('static', filename='Images/SocialMedia/YouTube.webp')}}" alt="YouTube"></a></li>
        <li><a href="x.com"><img src="{{url_for('static', filename='Images/SocialMedia/X.png')}}" alt="X"></a></li>
        <li><a href="web.telegram.org/"><img src="{{url_for('static', filename='Images/SocialMedia/Telegram.png')}}" alt="Telegram"></a></li>
        <li><a href="www.linkedin.com/"><img src="{{url_for('static', filename='Images/SocialMedia/Linkedin.png')}}" alt="Linkedin"></a></li>
    </ul>
</nav>
{% endblock %}