{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="cart">
    <ul id="cart-items">
        {% set total_price = namespace(value=0) %}  {# Initialize total price #}
        {% for item in cart_products %}
            {% set product = get_product(item.product_id) %}
            <li>
                <span>{{ product.name }}</span>
                <span>Qty: {{ item.quantity }}</span>
                <span>Price: {{ product.price * item.quantity }}</span>
            </li>
            {% set total_price.value = total_price.value + (product.price * item.quantity) %}
        {% endfor %}
        <p class="total-price"><strong>Total price: {{ total_price.value }}</strong></p>
    </ul>
    <button>Order</button>
</div>
<a href="{{ url_for('menu') }}">Continue Shopping</a>
</div>
{% endblock %}