{% extends 'base.html' %}

{% block title %}Category{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">{% endblock %}


{% block content %}
<a href="{{ url_for('cart') }}"><img src="{{url_for('static', filename='images/shop-cart.png')}}" alt="Shopping cart"></a>
<div class="category-container">
    {% for product in products %}
    <div class="category">
        <div class="product-cart">
            <b><h2>{{product.name}}</h2></b>
            <img class="productimage" src="{{url_for('static', filename='images/Food/' + product.image_path)}}" alt="{{ product.name }}">
            <p>{{product.description}}</p>
            <p class="price">{{product.price}} AMD</p>
            <form action="{{ url_for('add_to_cart', product_id = product.id) }}" method="post">
                <button type="submit" class="add-to-cart" data-product-id="{{ product.id }}">+ Add to cart</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{{ url_for('menu') }}"><button class="back">&larr; Back</button></a>
{% endblock %} 