{% extends 'base.html' %}

{% block content %}
<h1 class="Welcome">Assortment</h1>

<div class="category-container">

    <div class="category">
        <a href="{{ url_for('category', category_name=burgers)}}">
        <img src="{{ url_for('static', filename='images/FoodCategories/burgers.jpg') }}" alt="burgers">
        <p>Burgers</p>
        </a>
    </div>

    <div class="category">
        <a href="category/pizza/">
        <img src="{{ url_for('static', filename='images/FoodCategories/pizza.jpg') }}" alt="pizza">
        <p>Pizza</p>
        </a>
    </div>

    <div class="category">
        <a href="">
            <img src="{{ url_for('static', filename='images/FoodCategories/shawarma.jpg') }}" alt="shawarma">
            <p>Shawarma</p>
        </a>
    </div>
    
    <div class="category">
        <a href="">
            <img src="{{ url_for('static', filename='images/FoodCategories/bbq.jpg') }}" alt="bbq">
            <p>BBQ</p>
        </a>
    </div>

    <div class="category">
        <a href="">
        <img src="{{ url_for('static', filename='images/FoodCategories/salads.jpg') }}" alt="salads">
        <p>Salads</p>
        </a>
    </div>

    <div class="category">
        <a href="">
        <img src="{{ url_for('static', filename='images/FoodCategories/sushi.webp') }}" alt="sushi">
        <p>Sushi</p>
        </a>
    </div>

    <div class="category">
        <a href="">
        <img src="{{ url_for('static', filename='images/FoodCategories/sandwich.jpg') }}" alt="sandwich">
        <p>Sandwich</p>
        </a>
    </div>

    <div class="category">
        <a href="">
        <img src="{{ url_for('static', filename='images/FoodCategories/sides&extras.jpg') }}" alt="sides & extras">
        <p>Sides & Extras</p>
        </a>
    </div>

    <div class="category">
        <a href="">
        <img src="{{ url_for('static', filename='images/FoodCategories/drinks.jpg') }}" alt="drinks">
        <p>Drinks</p>
        </a>
    </div>

    <div class="category">
        <a href="">
        <img src="{{ url_for('static', filename='images/FoodCategories/beer.jpg') }}" alt="beer">
        <p>Beer</p>
        </a>
    </div>
</div>
{% endblock %}